@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-grid {
    background-color: #f6f6ff;
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 1px
      ),
      linear-gradient(180deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);

    background-size: 50px 50px;
  }

  .sec-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 45%));
    grid-template-rows: repeat(1, (0, 55%));
  }

  /* For FAQ page */
  .faq-item {
    @apply my-5 rounded-md border border-gray-300 bg-white px-4 pt-4 shadow-md;
  }

  .faq-question {
    @apply flex w-full items-center justify-between gap-4 text-left;
  }

  .faq-answer {
    @apply my-2 max-h-0 overflow-hidden text-gray-500 transition-all duration-500;
  }
}

@font-face {
  font-family: "Bahnschrift";
  src: url(../fonts/Bahnschrift.ttf);
}
