@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-grid {
    background-color: #F6F6FF;
    background-image:
      linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(180deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  
    background-size: 50px 50px;
  }


  
  
}

@font-face {
  font-family: "Bahnschrift";
  src: url(../fonts/Bahnschrift.ttf);
}
